body {
  font-family: FontAwesome, Verdana, Geneva, sans-serif;
  font-size: 2em;
}

/* Everything including the canvas is inside the container*/
#container {
  width: 860px;
  position: relative;
}

#hud {
  color: Black;
  opacity: 0.5;
  background-color: AliceBlue;
  top: 570px;
  height: 70px;
  width: inherit;
  position: absolute;
}

#hud #hp {
  float: left;
  margin-left: 5px;
}

#hud #score {
  margin-left: 360px;
  position: absolute;
}
#hud #time {
  float: right;
  margin-right: 5px;
}

#hud #game-over {
  color: red;
  float: right;
  position: absolute;
  /* margin-right: 10px; */
  padding: 15px 32px;
  opacity: 1;
  /* width: 100%; */
  background-color: black;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 0.6em;
    opacity:1;
}

select {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 230px;
  text-align: center;
  font-size: 0.6em;
  cursor: pointer;
}

select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}

#restart {
    float: left;
}

#harakiri{
    float: right;
}
