body {
  font-family: FontAwesome, Verdana, Geneva, sans-serif;
  font-size: 2em;
}

/* Everything including the canvas is inside the container*/
#container {
  width: 860px;
  position: relative;
}

#hud {
  opacity: 0.5;
  background-color: AliceBlue;
  top: 570px;
  height: 70px;
  width: inherit;
  position: absolute;
}

#hud #hp {
  color: maroon;
  float: left;
  margin-left: 5px;
}

#hud #time {
  color: darkred;
  float: right;
  margin-right: 5px;
}

#hud #game-over {
  color: red;
  /* font-size: 2em; */
  top: 10px;
  margin-left: 150px;
  position: relative;
}

.button {
    background-color: maroon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 0.6em;
    opacity:1;
    /* position:relative; */
}

#restart {
    float: left;
}

#harakiri{
    float: right;
}
